*{
padding: 0px;
margin: 0px;
}
.nav{
    background: #FFFBF0;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background: #FFFBF0;
}
.nev-left{
    display: flex;
}
.nav-ul{
    display: flex;
    list-style: none;
    font-size: 30px;
}
.itmes{
    margin-right: 20px;
}
.Penguin{
    color: #A4BC46;
}
.nav-h3{
    font-size: 30px;
}
.banner{
     background: #FFFBF0;
     display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.banner-left{
    margin-top: 100px;
}
.banner-right{
    background-color: #A4BC46;
    border-radius: 1200px;
}
.banner-h1{
    font-size: 60px;
}
.h1-1{
    color: #FABE4C;
}
.banner-p{
    margin-top: 30px;
}
.btn{
    margin-top: 20px;
    background-color: #A4BC46;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
}
.price{
    display: flex;
    margin-top: 20px;
    
}
.woman-h1{
    margin-top: 50px;
    font-size:50px ;
    margin-left: 95px;

}
.woman{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}
.jacket-img{
    background: #F1F1F1;
    height: 350px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;

}
.jacket{
    background-color: #dbdcd8;
    width: 320px;
    border-radius: 10px;
}
.icone{
    display: flex;
}
.footer{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}
.footer-icone{
    display: flex;
    margin-top: 50px;
    background-color: aliceblue;
    margin-left:100px;
    border-radius: 10px;
    width: 500px;
}
.foor-img{
    margin-top: 30px;
}
.footer-h3{
    margin-top: 30px;
    
}
.footer-text{
    margin-left: 20px;
}
.footer-p{
    margin-top: 20px;
}
.footer-Right{
    
}
.footer-Right-img{
    width:500px;
    height: 300px;
    margin-left: 100px;
    margin-top: 100px;
    
}


